<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DYNAMO_HOME" value="/opt/ATG/ATG11.2/home"/>
<mapEntry key="JAVA_HOME" value="/opt/ATG/jdk/jdk1.8.0_121"/>
<mapEntry key="JAVA_OPTS" value="-Duser.country=US -Duser.language=en"/>
<mapEntry key="JBOSS_HOME" value="/opt/ATG/jboss"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_INCLUDE_REFERENCED_PROJECTS" value="false"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${project}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/opt/ATG/ATG11.2/home/bin/runAssembler"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-jboss -overwrite -server ${project_name} ${env_var:JBOSS_HOME}/opt/ATG/jboss/standalone/deployments/${project_name}/${project_name}.ear   -m ${project_name}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${env_var:DYNAMO_HOME}"/>
</launchConfiguration>
